{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AzhanKhan. Portfolio</title>

  <!--
    - favicon
  -->
 
  <link rel="shortcut icon" href="{% static '/images/logotitle.jpg' %}" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

        <div class="sidebar-info">
  
          <figure class="avatar-box">
            <img src="{% static 'images/my-avatar.png' %}" alt="Azhan Khan" width="80">
          </figure>
  
          <div class="info-content">
            <h1 class="name" title="Azhan Khan">Azhan Khan</h1>
  
            <button class="button title" onclick="previewImage()">
              <span class="text">Resume</span>
              <svg class="arrow" viewBox="0 0 448 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
            </button>
          </div>
  
          <button class="info_more-btn" data-sidebar-btn>
            <span>Show Details</span>
  
            <ion-icon name="chevron-down"></ion-icon>
          </button>
  
        </div>
  
        <div class="sidebar-info_more">
  
          <div class="separator"></div>
  
          <ul class="contacts-list">
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Email</p>
  
                <a href="mailto:azhanborntowin22@gmail.com" class="contact-link">azhanborntowin22@gmail.com</a>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Phone</p>
  
                <a href="tel:+917804828850" class="contact-link">+91 780-4828850</a>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="calendar-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Birthday</p>
  
                <time datetime="2002-08-22">August 22, 2002</time>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Location</p>
  
                <address>Ashoka Garden, Bhopal, India</address>
              </div>
  
            </li>
  
          </ul>
  
          <div class="separator"></div>
  
          <ul class="social-list">
  
            <li class="social-item">
              <a href="https://www.linkedin.com/in/azhankhan-087018249/" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
  
            <li class="social-item">
              <a href="https://twitter.com/itsazhan_" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
  
            <li class="social-item">
              <a href="https://github.com/azhannnnn" class="social-link">
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </li>
  
          </ul>
  
        </div>
  
      </aside>
  





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <a class="navbar-link " href="{% url 'about' %}" data-nav-link>About</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link " href="{% url 'resume' %}" data-nav-link>Resume</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'portfolio' %}" data-nav-link>Portfolio</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'blog' %}" data-nav-link>Blog</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link active" href="{% url 'contact' %}" data-nav-link>Contact</a>
          </li>

        </ul>

      </nav>

       <!--
        - #CONTACT
      -->

      <article class="contact active" data-page="contact">

        <header>
          <h2 class="h2 article-title">Contact</h2>
        </header>

        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234700.34595670932!2d77.24107576737877!3d23.19963946878163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c428f8fd68fbd%3A0x2155716d572d4f8!2sBhopal%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1707042434266!5m2!1sen!2sin"
              width="400" height="300" loading="lazy"></iframe>
          </figure>
        </section>

        <section class="contact-form">

          <h3 class="h3 form-title">Contact Form</h3>

          <form action="{% url 'send' %}" class="form">

            <div class="input-wrapper">
              <input type="text" name="name" class="form-input" placeholder="Full name" required>

              <input type="email" name="email" class="form-input" placeholder="Email address" required >
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required ></textarea>

            <button class="form-btn" type="submit" >
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>
            <p class="contact-title">{{msg}}</p>
          </form>

        </section>

      </article>

    </div>

  </main>

  <!--
    - custom js link
  -->
  <script src="{% static '/js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>