{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AzhanKhan. Portfolio</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="{% static '/images/logotitle.jpg' %}" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

        <div class="sidebar-info">
  
          <figure class="avatar-box">
            <img src="{% static 'images/my-avatar.png' %}" alt="Azhan Khan" width="80">
          </figure>
  
          <div class="info-content">
            <h1 class="name" title="Azhan Khan">Azhan Khan</h1>
  
            <button class="button title" onclick="previewImage()">
              <span class="text">Resume</span>
              <svg class="arrow" viewBox="0 0 448 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
            </button>
          </div>
  
          <button class="info_more-btn" data-sidebar-btn>
            <span>Show Details</span>
  
            <ion-icon name="chevron-down"></ion-icon>
          </button>
  
        </div>
  
        <div class="sidebar-info_more">
  
          <div class="separator"></div>
  
          <ul class="contacts-list">
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Email</p>
  
                <a href="mailto:azhanborntowin22@gmail.com" class="contact-link">azhanborntowin22@gmail.com</a>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Phone</p>
  
                <a href="tel:+917804828850" class="contact-link">+91 780-4828850</a>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="calendar-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Birthday</p>
  
                <time datetime="2002-08-22">August 22, 2002</time>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Location</p>
  
                <address>Ashoka Garden, Bhopal, India</address>
              </div>
  
            </li>
  
          </ul>
  
          <div class="separator"></div>
  
          <ul class="social-list">
  
            <li class="social-item">
              <a href="https://www.linkedin.com/in/azhankhan-087018249/" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
  
            <li class="social-item">
              <a href="https://twitter.com/itsazhan_" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
  
            <li class="social-item">
              <a href="https://github.com/azhannnnn" class="social-link">
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </li>
  
          </ul>
  
        </div>
  
      </aside>
  





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <a class="navbar-link " href="{% url 'about' %}" data-nav-link>About</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link " href="{% url 'resume' %}" data-nav-link>Resume</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link active" href="{% url 'portfolio' %}" data-nav-link>Portfolio</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'blog' %}" data-nav-link>Blog</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'contact' %}" data-nav-link>Contact</a>
          </li>

        </ul>

      </nav>

            <!--
        - #PORTFOLIO
      -->

      <article class="portfolio active" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

         <section class="projects">

         {% comment %} <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button  data-filter-btn>Web design</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Applications</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web design</button>
              </li>

              <li class="select-item">
                <button data-select-item>Applications</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>

            </ul>

          </div> {% endcomment %}

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="https://jerseystore.pythonanywhere.com/">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-1.png' %}" alt="finance" loading="lazy">
                </figure>

                <h3 class="project-title">E-commerce</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-2.png' %}" alt="orizon" loading="lazy">
                </figure>

                <h3 class="project-title">Orizon</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-3.jpg' %}" alt="fundo" loading="lazy">
                </figure>

                <h3 class="project-title">Fundo</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-4.png' %}" alt="brawlhalla" loading="lazy">
                </figure>

                <h3 class="project-title">Brawlhalla</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-5.png' %}" alt="dsm." loading="lazy">
                </figure>

                <h3 class="project-title">DSM.</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-6.png' %}" alt="metaspark" loading="lazy">
                </figure>

                <h3 class="project-title">MetaSpark</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-7.png' %}" alt="summary" loading="lazy">
                </figure>

                <h3 class="project-title">Summary</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-8.jpg' %}" alt="task manager" loading="lazy">
                </figure>

                <h3 class="project-title">Task Manager</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static '/images/project-9.png' %}" alt="arrival" loading="lazy">
                </figure>

                <h3 class="project-title">Arrival</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

          </ul>

        </section>

      </article>
    </div>

</main>

<!--
    - custom js link
  -->
  <script src="{% static '/js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>